<h1>Add Your Wizard Below!</h1>

<form action="/wizards" method="post">
  <label for="wizard_name">Wizard Name:</label>
  <input type="text" name="wizard_name" id="wizard_name">
  <br>
  <label for="wizard_age">Wizard Age:</label>
  <input type="text" name="wizard_age" id="wizard_age">
  <br>
  <label for="wizard_power_type">Wizard Power Type:</label>
  <input type="text" name="wizard_power_type" id="wizard_power_type">
  <br>

  <input type="submit" value="Submit New Wizard">
</form>
